/* ここから下に記載していく */
body{
    text-align: center;
    background-color:honeydew;
}

header{
    font-size: 30px;
    padding: 30px;
    border: solid;
}

.animes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#anime{
    margin: 30px;
}

.comment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    margin: 30px;
}